[submodule "libembroidery"]
	path = libembroidery
	url = https://github.com/embroidermodder/libembroidery
[submodule "refman"]
	path = refman
	url = https://github.com/embroidermodder/refman
[submodule "user-manual"]
	path = user-manual
	url = https://github.com/embroidermodder/user-manual
